span {
  color: var(--primary-color-2);
}
h1 {
  font-size: 2.6rem;
  letter-spacing: 2px;
  line-height: 2.2rem;
}
.cta-container {
  max-width: 18rem;
}

p {
  padding: 0.4rem 0;
}

.img-container {
  height: 18rem;
  width: 18rem;
  position: relative;
  top: 2rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9.4rem;
}

@media screen and (max-width: 767px) {
  .cta-container {
    display: flex;
    max-width: 13rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img-container {
    display: none;
  }
  .img-container img {
    visibility: hidden;
  }

  .flex {
    align-items: center;
    justify-content: center;
    gap: none;
  }

  h1 {
    max-width: 15rem;
    text-align: left;
  }
  p {
    margin: auto;
    max-width: none;
    text-align: left;
  }
}
